.cart-item {
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid grey;
  padding: 1rem 0;
  margin: 1rem 0;
  overflow: scroll;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px black;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: slategray;
  border-color: slategray;
  color: white;
}

.actions .button--alt {
  color: slategray;
}

.actions .button {
  background-color: slategray;
  color: white;
}

